<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<title></title>
</head>

<body>
<h1>Your blog name here</h1>
<nav>
   <a href="/index.html">home</a>
   <a href="/archive.html">archive</a>
   <a href="mailto:<your mail here>">mail</a>
   <a href="<your github link here>">github</a>
   <a href="twitter link here">twitter</a>
   <a href="reddit link here">reddit</a>
   <a href="/about.html">about me</a>
</nav>

<article>
